.container {
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,449px);
}

.section-cta, .section-testimonial{
    grid-column: 1 / 3;
}
