 @mixin media-maxwidth($screensize){
     @media (max-width:$screensize) {
        @content;
      }
 }

@mixin style-img-full-width($url){
    height: 90vh;
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

@mixin style-section-row(){
    width: 50%;
    display: flex;
}

@mixin style-section-on-img($url){
    background-image: $url;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    & .section-on-img-content{
        width: 60%;
        text-align: center;
        padding-top: 70%;
        padding-bottom: 5%;
    }
}

@mixin style-section-testimonial($flex-direction){
    height: 90vh;
    box-sizing: border-box;
    padding: 10vh 0 10vh 0;
    & .testimonial-container{
        display: flex;
        flex-direction: $flex-direction;
        width: 90%;
        margin: auto;
        & .testimonial-card{
            padding: 5px 20px 5px 20px;
            & .testimonial-picture{
                border-radius: 50%;
                width: 72px;
            }
        }
    }
}

@mixin style-footer-full-whidth-bg($url){
    background-image: $url;
    width: 25%;
    background-size: cover;
    aspect-ratio: 2/3;
}