$md-screen: "630px";
$lg-screen: "1400px";

$font-primary: 'Barlow';
$font-accent: 'Fraunces';

$primary: hsl(7, 99%, 70%);
$secondary: hsl(51, 100%, 49%);
$on-text-primary: hsl(167, 40%, 24%);
$on-text-secondary: hsl(198, 62%, 26%);
$on-text-tertiary: hsl(168, 34%, 41%);

$neutral-dark:hsl(212, 27%, 19%);
$neutral-primary: hsl(213, 9%, 39%);
$neutral-secondary: hsl(232, 10%, 55%);
$neutral-tertiary: hsl(210, 4%, 67%);
$neutral-white: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,900&display=swap');