@import 'tokkens';
@import 'desktop';
@import 'mixins';

body{
    width: 100%;
    margin: auto;
    text-align: center;
}
ul{
    list-style: none;
}

.navigation{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    & .menu{
        width: 50%;
    };
    & .menu-list{
        display: flex;
        justify-content: space-between;
    };
}

.header-full-width{
    @include style-img-full-width(url(../images/photos/image-header.jpg))
}

.section-row-bg-right{
    @include style-section-row(url(../images/photos/image-transform.jpg), right, row);
}
.section-row-reverse-bg-left{
    @include style-section-row(url(../images/photos/image-stand-out.jpg), left, row-reverse);
}

.section-on-img-left{
    @include style-section-on-img(url(../images/photos/image-graphic-design.jpg));
}
.section-on-img-right{
    @include style-section-on-img(url(../images/photos/image-photography.jpg));
}


.section-testimonial{
    height: 90vh;
    box-sizing: border-box;
    padding: 10vh 0 10vh 0;

}
.testimonial-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.testimonial-card{
    padding: 5px 20px 5px 20px;
}
.testimonial-picture{
    border-radius: 50%;
    width: 72px;
}

.footer-full-width{
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url(../images/photos/image-gallery-milkbottles.jpg), 
                url(../images/photos/image-gallery-orange.jpg), 
                url(../images/photos/image-gallery-cone.jpg), 
                url(../images/photos/image-gallery-sugarcubes.jpg);
    background-color: $on-text-tertiary;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 0,
                        (100/3)*1% 0,
                        (100/3)*2% 0,
                        100% 0;
    background-size: 26% 60%,
                    26% 60%,
                    26% 60%,
                    26% 60%;
}