body {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Barlow"; }
  body h2 {
    font-family: "Fraunces";
    font-weight: 900; }

ul {
  list-style: none; }

.navigation {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navigation .menu {
    width: 50%; }
    .navigation .menu-list {
      display: flex;
      justify-content: space-between; }
      .navigation .menu-list-item:last-child {
        font-family: "Fraunces";
        color: #23303e;
        background-color: white;
        border-radius: 20px;
        padding: 6px 12px; }

.container {
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 449px); }
  @media (max-width: 630px) {
    .container {
      display: flex;
      flex-direction: column; } }

.header-full-width {
  color: white;
  height: 90vh;
  background-image: url(../images/photos/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

.cta {
  text-decoration: none;
  color: #23303e;
  font-weight: 900;
  font-family: "Fraunces";
  font-size: 16px;
  margin: 10px auto;
  border-bottom: 18px solid #fad400;
  border-radius: 10px; }

.section-on-img-left {
  background-image: url(../images/photos/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .section-on-img-left .section-on-img-content {
    width: 60%;
    text-align: center;
    padding-top: 70%;
    padding-bottom: 5%; }

.section-on-img-right {
  background-image: url(../images/photos/image-photography.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .section-on-img-right .section-on-img-content {
    width: 60%;
    text-align: center;
    padding-top: 70%;
    padding-bottom: 5%; }

.section-testimonial {
  height: 90vh;
  grid-column: 1 / 3;
  box-sizing: border-box;
  padding: 10vh 0 10vh 0; }
  @media (max-width: 630px) {
    .section-testimonial {
      height: auto; } }
  .section-testimonial .testimonial-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto; }
    .section-testimonial .testimonial-container .testimonial-card {
      padding: 5px 20px 5px 20px; }
      .section-testimonial .testimonial-container .testimonial-card .testimonial-picture {
        border-radius: 50%;
        width: 72px; }
  @media (max-width: 630px) {
    .section-testimonial {
      height: 90vh;
      grid-column: 1 / 3;
      box-sizing: border-box;
      padding: 10vh 0 10vh 0; } }
  @media (max-width: 630px) and (max-width: 630px) {
    .section-testimonial {
      height: auto; } }
  @media (max-width: 630px) {
      .section-testimonial .testimonial-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto; }
        .section-testimonial .testimonial-container .testimonial-card {
          padding: 5px 20px 5px 20px; }
          .section-testimonial .testimonial-container .testimonial-card .testimonial-picture {
            border-radius: 50%;
            width: 72px; } }

.section-row {
  grid-column: 1 / 3;
  display: flex;
  align-items: center; }
  @media (max-width: 630px) {
    .section-row {
      flex-direction: column-reverse; } }
  .section-row-bg-container-transform {
    background-image: url(../images/photos/image-transform.jpg);
    width: 50%;
    display: flex;
    background-size: cover;
    height: 100%;
    background-position: center; }
    @media (max-width: 630px) {
      .section-row-bg-container-transform {
        width: 100%;
        height: 60vh;
        flex-direction: column-reverse; } }
  .section-row-bg-container-stand-out {
    background-image: url(../images/photos/image-stand-out.jpg);
    width: 50%;
    display: flex;
    background-size: cover;
    height: 100%;
    background-position: center; }
    @media (max-width: 630px) {
      .section-row-bg-container-stand-out {
        width: 100%;
        height: 60vh;
        flex-direction: column-reverse; } }

.section-row-reverse {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }
  @media (max-width: 630px) {
    .section-row-reverse {
      flex-direction: column-reverse; } }

.section-row-content {
  box-sizing: border-box;
  margin: 10%;
  text-align: left;
  width: 30%; }
  @media (max-width: 630px) {
    .section-row-content {
      width: 100%;
      margin: 0;
      padding: 20%; } }

.footer-full-width {
  background-color: #458c7e; }
  .footer-full-width-container-bg {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.footer-nav-list {
  margin: 40px;
  display: flex;
  justify-content: space-evenly; }
  .footer-nav-list-item-link {
    color: #25564b;
    text-decoration: none; }

.footer-full-width-bg-milk {
  background-image: url(../images/photos/image-gallery-milkbottles.jpg);
  width: 25%;
  background-size: cover;
  aspect-ratio: 2/3; }
  @media (max-width: 630px) {
    .footer-full-width-bg-milk {
      width: 50%; } }

.footer-full-width-bg-orange {
  background-image: url(../images/photos/image-gallery-orange.jpg);
  width: 25%;
  background-size: cover;
  aspect-ratio: 2/3; }
  @media (max-width: 630px) {
    .footer-full-width-bg-orange {
      width: 50%; } }

.footer-full-width-bg-cone {
  background-image: url(../images/photos/image-gallery-cone.jpg);
  width: 25%;
  background-size: cover;
  aspect-ratio: 2/3; }
  @media (max-width: 630px) {
    .footer-full-width-bg-cone {
      width: 50%; } }

.footer-full-width-bg-sugar {
  background-image: url(../images/photos/image-gallery-sugarcubes.jpg);
  width: 25%;
  background-size: cover;
  aspect-ratio: 2/3; }
  @media (max-width: 630px) {
    .footer-full-width-bg-sugar {
      width: 50%; } }

.footer-full-width-container-info {
  padding: 10%; }

/*# sourceMappingURL=style.css.map */
